:root{
    --white: #fff;
    --black: #000;
    --white-gray: #f7f7f7;
    --gray: #808080;
    --orange: #e4aa3f;
    --transparent: transparent;
    --yellow: #ffff00;
    --green: #0b6531;
    --red: #ff0000;
    --skyblue: rgb(0, 110, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--black);
    scroll-behavior: smooth;
    /* outline: 4px solid green; */
}

body{
    min-height: 100%;
    min-width: 100%;
}


.wrapper{
    max-width: 92vw;
    margin: 0 auto;
    position: relative;
}

.btn__general{
    padding: 22px 53px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.btn__general:hover{
    background-color: var(--white);
    color: var(--orange);
}

h2{
    user-select: none;
}





/* header */





.header__intro{
    background-color: #0b6531;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}

.header__intro::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 19.8%;
    height: 70%;
    width: 245px;
    background-color: var(--orange);
    transform: skew(-8deg);
}

.header__intro::after{
    content: '';
    position: absolute;
    bottom: 130px;
    right: 0;
    height: 877px;
    width: 245px;
    background-color: var(--white);
    transform: skew(-8deg);
}

.header__block{
    padding: 4% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 20%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--green);
}

.header__nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    gap: 60px;
    font-weight: 500;
    font-size: 20px;
}

.header__nav > ul > li > a{
    color: var(--white);
    position: relative;
}

.header__nav > ul > li > a::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--white);
    opacity: 0;
    transition: 0.5s;
}

.header__nav > ul > li:nth-child(3) > a{
    color: var(--orange);
}

.header__nav > ul > li:nth-child(3) > a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 4px;
    width: 100%;
    background-color: var(--white);
}

.header__nav > ul > li > a:hover:before{
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
}

.header__nav > ul > li:nth-child(3) > a{
    color: var(--orange);
}

.header__nav > ul > li > a:hover{
    transition: 0.5s;
    color: var(--orange);
}

.header__nav > ul > li > a:hover{
    transition: 0.5s;
    color: var(--orange);
}

.header__logo > img{
    cursor: pointer;
    height: 115px;
    width: 115px;
    filter: invert(43%) sepia(70%) saturate(1192%) hue-rotate(59deg) brightness(93%) contrast(101%);
}


.header__cart > a > img{
    transition: 0.5s;
    height: 50px;
    width: 50px;
    filter: invert(43%) sepia(70%) saturate(1192%) hue-rotate(59deg) brightness(93%) contrast(101%);
}

.header__cart > a > img:hover{
    transform: translateY(-10px);
}

.header__language__switcher{
    background-color: var(--orange);
    height: 4vmin;
    width: 8vmin;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.header__language__switcher:hover > .header__language__switcher__block{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/others/Flag_of_Poland.svg.png);
    border-radius: 50%;
    outline: 2px solid var(--white);
}

.header__language__switcher::before{
    content: 'EN';
    position: absolute;
    left: -50%;
    top: 10%;
    color: var(--white);
}

.header__language__switcher::after{
    content: 'PL';
    position: absolute;
    right: -50%;
    top: 10%;
    color: var(--white);
}

.header__language__switcher__block{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/others/640px-Flag_of_Great_Britain_\(1707–1800\).svg.png);
    border-radius: 50%;
    outline: 2px solid var(--white);
    transition: 0.5s;
}


/* header burger */


.header__burger__menu{
    display: none;
    position: relative;
}

.burger__block{
    position: relative;
    height: 7vmin;
    width: 7vmin;
}

.burger__block__item{
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--orange);
    transition: 0.5s;
    transform-origin: center;
    z-index: 200;
}

.header__burger__menu > input{
    display: none;
}

.header__nav__burger{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-top: 20px solid var(--orange);
    border-bottom: 20px solid var(--orange);
    gap: 8vmin;
    position: absolute;
    height: 100vh;
    right: -105vw;
    width: 100vw;
    background-color: rgba(42, 48, 45, 0.95);
    transition: 0.5s;
    transform: translate(0%, -13.5%);
}

.header__nav__burger > ul{
    display: flex;
    flex-direction: column;
    gap: 8vmin;
    padding: 10vmin;
    padding-bottom: 5vmin;

}

.header__nav__burger > ul > li > a{
    font-size: 50px;
    color: var(--orange);
    text-transform: uppercase;
    text-shadow: 0 5px 10px var(--black);
}

.header__nav__burger > ul > li > a:active{
    color: var(--white);
}

.header__nav__burger > .header__cart__burger__menu > a > img{
    margin-left: 15vmin;
    height: 120px;
    width: 120px;
}

#header__id:checked ~ .burger__block > .one{
    display: none;
}

#header__id:checked ~ .burger__block > .four{
    display: none;
}

#header__id:checked ~ .burger__block > .two{
    transform: rotate(45deg);
}

#header__id:checked ~ .burger__block > .three{
    transform: rotate(-45deg);
}

#header__id:checked ~ .header__nav__burger{
    right: -23px;
}

.one{
    top: 0;
}

.two, .three{
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.four{
    bottom: 0;
}







/* intro */




.intro__block{
    padding-top: 6%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vmin;
    margin-top: 10%;
}

.intro__item >  p{
    color: var(--white);
}

.intro__item > h2{
    color: var(--white);
    white-space: pre-line;
    text-transform: uppercase;
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}

.intro__item > p{
    position: relative;
    white-space: pre-line;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 38px;
}

#about__us__one > .intro__item > p::before{
    content: '';
    position: absolute;
    top: -5vmin;
    left: 40%;
    width: 20%;
    height: 4px;
    background-color: var(--white);
}





/* about us */





.about__us{
    background-color: var(--green);
    background-size: cover;
    background-repeat: no-repeat;
}

.about__us__block{
    text-align: center;
    padding: 100px 0;
}


.about__us__block > h2{
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 60px;
    color: var(--white);
    text-transform: uppercase;
}

.about__us__block p{
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 25px;
    color: var(--green);
    z-index: 10px;
}

.about__us__block__articles{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__us__block__article__item{
    width: 70%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 10px 15px 30px var(--gray);
    border-radius: 20px;
    gap: 60px;
    transition: 0.5s;
}

.about__us__block__article__item:hover{
    transform: translateY(-20px);
}

.about__us__block__article__item__des{
    text-align: left;
}

.about__us__block__article__item__des h2{
    font-size: 58px;
    color: var(--orange);
    margin-bottom: 25px;
}

.about__us__block__article__item__des > p{
    white-space: pre-line;
    color: var(--orange);
}

.about__us__block__article__item > h2{
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 25px;
    color: var(--green);
    text-transform: uppercase;
}

.about__us__block__article__item > img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.second, .fourth{
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.second > .about__us__block__article__item__des > h2{
    color: var(--skyblue);
}

.second > .about__us__block__article__item__des > p{
    color: var(--skyblue);
}

.third > .about__us__block__article__item__des > h2{
    color: var(--green);
}

.third > .about__us__block__article__item__des > p{
    color: var(--green);
}

.fourth > .about__us__block__article__item__des > h2{
    color: var(--orange);
}

.fourth > .about__us__block__article__item__des > p{
    color: var(--orange);
}




/* our team block */



.our__team__block{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.our__team__block h2{
    padding: 8% 0;
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
}

.our__team__block > h2::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 4px;
    background-color: var(--white);
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.our__team__block__article{
    display: flex;
    flex-direction: column;
}

.our__team__block__article__item{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/others/backgroundEffect\(brown\).png.jpg);
    box-shadow: 10px 15px 30px var(--black);
    border-radius: 20px;
    gap: 60px;
}

.our__team__block__article__item__des{
    text-align: left;
}

.our__team__block__article__item__des > .our__team__block__article__item__des-pos{
    font-size: 16px;
    color: var(--black);
    font-weight: 700;
}

.our__team__block__article__item__des h2{
    font-size: 58px;
    color: var(--white);
    margin-bottom: 25px;
}

.our__team__block__article__item__des > h2::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 4px;
    background-color: var(--white);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our__team__block__article__item__des > p{
    white-space: pre-line;
    color: var(--white);
    line-height: 1.5em;
    font-weight: 600;
}

.our__team__block__article__item > h2{
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 25px;
    color: var(--green);
    text-transform: uppercase;
    position: relative;
}

.our__team__block__article__item > img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}


.second, .fourth{
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
}



/* footer */




.footer{
    border-top: 4px solid var(--white);
    background-image: url(../img/others/backgroundEffect\(brown\).png.jpg)
}


.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    height: 100%;
}


.footer__block__adress{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__block__adress > h2{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 28px;
    color: var(--white);
    user-select: none;
}

.footer__block__adress > h2 > img{
    user-select: none;
    height: 50px;
    width: 50px;
    filter: invert(43%) sepia(70%) saturate(1192%) hue-rotate(59deg) brightness(93%) contrast(101%);
}

.footer__block__adress > a{
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    transition: 0.5s;
}

.footer__block__adress > a:hover{
    color: var(--green);
}


.footer__block__adress > address{
    white-space: pre-line;
    color: var(--white);
}

.footer__block__nav{
    display: flex;
    flex-direction: column;
}

.footer__block__nav > ul > li{
    margin-bottom: 7px;
}

.footer__block__nav > ul > li > a{
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    transition: 0.5s;
}

.footer__block__nav > ul > li > a:hover{
    color: var(--green);
}

.footer__block__socialNet{
    display: flex;
    align-self: center;
}

.footer__block__socialNet > ul > li{
    margin-bottom: 14px;
}

.footer__block__socialNet > ul > li > a > i{
    margin-right: 15px;
    color: var(--white);
}

.footer__block__socialNet > ul > li > a{
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    transition: 0.5s;
}

.footer__block__socialNet > ul > li > a:hover{
    color: var(--green);
}

.footer__block__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
}

.footer__block__logo > p{
    user-select: none;
}

.footer__block__logo > img{
    cursor: pointer;
    height: 115px;
    width: 115px;
    filter: invert(43%) sepia(70%) saturate(1192%) hue-rotate(59deg) brightness(93%) contrast(101%);
}